<template>
        <div class="page-container" >
            <md-app>
            <md-app-toolbar class="md-primary" md-elevation="0">
                <md-button class="md-icon-button" @click="toggleMenu" v-if="!menuVisible">
                <md-icon>menu</md-icon>
                </md-button>
                <span class="md-title">Dungeons & Dragons</span>
            </md-app-toolbar>

            <md-app-drawer :md-active.sync="menuVisible" md-persistent="mini">
                <md-toolbar class="md-transparent" md-elevation="0">
                <span>Table of Master</span>

                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button md-dense" @click="toggleMenu">
                    <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>
                </md-toolbar>

                <md-list>
                <md-list-item @click="show_adventure_map" @mouseover="hover1 = true" @mouseleave="hover1 = false" :class="{ active: hover1 }">
                    <i class="fas fa-scroll  md-custom-icon" aria-hidden="true"></i>
                    <span class="md-list-item-text">Adventure</span>
                </md-list-item>

                <md-list-item @click="show_select_map" @mouseover="hover = true" @mouseleave="hover = false" :class="{ active: hover }"> 
                    <i class="fas fa-dungeon md-custom-icon" aria-hidden="true"></i>
                    <span class="md-list-item-text">Maps Dungeons</span>
                </md-list-item>

                <md-list-item>
                    <md-icon>delete</md-icon>
                    <span class="md-list-item-text">Trash</span>
                </md-list-item>

                <md-list-item>
                    <md-icon>error</md-icon>
                    <span class="md-list-item-text">Spam</span>
                </md-list-item>
                </md-list>
            </md-app-drawer>

            <md-app-content>
                <img id='map_test' :src="map_img" style="position: absolute;    transform: rotate(90deg);" :class="{ hidden: map_display }">
                <canvas :class="{ hidden: canvas_display }" id="silverfox" style="position: relative;"></canvas > 
                <select-map-component v-if="menu == 1"></select-map-component>
            </md-app-content>
            </md-app>
        </div>       
</template> 

<script>
    window.eventBusMaster = new Vue({})
    import VueMaterial from 'vue-material'
    import 'vue-material/dist/vue-material.min.css'
    import 'vue-material/dist/theme/default.css'

    Vue.use(VueMaterial)
    export default {
        name: 'PersistentMini',
        props: ['url','hoverTest'],
        data: function() {
            return {
                url_aux: this.url,
                menu: 0,
                map_display: false,
                canvas_display: false,
                canvas: [],
                ctx: [],
                canvasx: 0,
                canvasy: 0,
                last_mousex: 0,
                last_mousey: 0,
                mousex: 0,
                mousey: 0,
                mousedown: false,
                tooltype: 'draw',
                mist: {"last_xy":[],"now_xy":[]},
                mist_json: '',
                width: 0,
                height: 0,
                menuVisible: false,
                height_test: 0,
                hover :  false,
                hover1 : false, 
                showDialog : false,
                map_img: 'https://i.redd.it/cwoqrzanl3s31.jpg'
            }
        },        
        methods: {
            use_tool(tool) {
                let me = this;
                me.tooltype = tool; //update
            },
            mouseDown(event) {  
                let me = this;              
                me.last_mousex = me.mousex = parseInt(event.clientX-me.canvasx);
                me.last_mousey = me.mousey = parseInt(event.clientY-me.canvasy);
                me.width =  document.getElementsByClassName('md-app-content')[0].offsetWidth;
                me.height = me.ctx.canvas.height
                me.mousedown = true;
            },
            mouseUp(event) {  
                let me = this;              
                me.mousedown = false;        
                me.mist_json = JSON.stringify(me.mist);
                axios.post(me.url+'/sendMist',{
                    'mist_json'     :   me.mist_json,
                    'width'         :   me.width,
                    'height'        :   me.height,
                }).then(function (response) {
                    
                }).catch(function (error) {
                    console.log(error);
                });        
            },
            mouseMove(event) {  
                let me = this;              
                me.mousex = parseInt(event.clientX - me.canvasx);
                me.mousey = parseInt(event.clientY - me.canvasy);
                if(me.mousedown) {
                    me.ctx.beginPath();
                    if(me.tooltype=='draw') {
                        me.ctx.globalCompositeOperation = 'source-over';
                        me.ctx.strokeStyle = "rgba(255, 255, 255, 0.5)";
                        me.ctx.lineWidth = 70;
                    } else {
                        me.ctx.globalCompositeOperation = 'destination-out';
                        me.ctx.lineWidth = 70;
                    }
                    me.ctx.moveTo(me.last_mousex,me.last_mousey);
                    me.ctx.lineTo(me.mousex,me.mousey);
                    me.ctx.lineJoin = me.ctx.lineCap = 'round';
                    console.log(me.last_mousex + ';' + me.last_mousey + ';' + me.mousex + ';' + me.mousey);
                    me.ctx.stroke();                    
                    me.mist.last_xy.push({"x":me.last_mousex ,"y":me.last_mousey,'action':me.tooltype});
                    me.mist.now_xy.push({"x":event.clientX ,"y":event.clientY,'action':me.tooltype});
                    me.last_mousex = me.mousex;
                    me.last_mousey = me.mousey;                    
                }                
            },
            touchStart(event){
                alert('touchStart');
            },
            touchEnd(event){
                alert('touchEnd');
            },
            touchMove(event){
                alert('touchMove');
            },
            toggleMenu(){
                this.menuVisible = !this.menuVisible
            },
            mouseOver(i,status){
                let me = this;
                me.hover[0] = status;
                
                //alert(status);
            },
            mouseLeave(i,status){
                let me = this;
               //me.hover[0] = status;
            },
            show_select_map(){
                let me = this;
                me.map_display = true;
                me.canvas_display = true;
                me.menu = 1;
            },
            show_adventure_map(){
                let me = this;
                me.map_display = false;
                me.canvas_display = false;
                me.menu = 0;
            }
        },
        mounted() {
            let me = this;   
            //Canvas
            me.canvas = document.getElementById('silverfox');
            me.ctx = me.canvas.getContext('2d');
            me.ctx.canvas.width  = document.getElementsByClassName('md-content')[0].offsetWidth;
            me.ctx.canvas.height = document.getElementsByClassName('md-content')[0].offsetHeight;
            console.log(document.getElementsByClassName('md-content'));
            //Variables
            me.canvasx = me.canvas.offsetLeft + 32;
            me.canvasy = me.canvas.offsetTop;
            me.last_mousex = 0;
            me.last_mousey = 0;
            me.mousex = 0;
            me.mousey = 0;
            me.mousedown = false;
            me.tooltype = 'draw';  

            me.ctx.globalCompositeOperation = 'source-over';
            me.ctx.strokeStyle = "rgba(255, 255, 255, 0.8)";
            me.ctx.lineWidth = 100000;
            me.ctx.moveTo(me.last_mousex,me.last_mousey);
            me.ctx.lineTo(me.mousex,me.mousey);
            me.ctx.lineJoin = me.ctx.lineCap = 'round';
            me.ctx.stroke();
            var obj = document.getElementById('map_test'); 
            obj.style.height = document.getElementsByClassName('md-app-content')[0].offsetHeight;
            //document.getElementById("map_test")[0].style.height = document.getElementsByClassName('md-app-content')[0].offsetHeight;
            document.getElementById("silverfox").onmousedown = function() {me.mouseDown(event)};
            document.getElementById("silverfox").onmouseup = function() {me.mouseUp(event)};
            document.getElementById("silverfox").onmousemove = function() {me.mouseMove(event)};

            document.getElementById("silverfox").touchstart = function() {me.touchStart(event)};
            document.getElementById("silverfox").touchend = function() {me.touchEnd(event)};
            document.getElementById("silverfox").touchmove = function() {me.touchMove(event)};
            me.tooltype = 'erase';  
        },
        created(){
            let me = this;
            window.eventBusMaster.$on('switchMap', function(value){
                me.map_img = value;
            });
        }
    }
</script>
<style lang="scss" scoped>
    @import "~vue-material/dist/theme/engine"; // Import the theme engine

    @include md-register-theme("default", (
    primary: #3fffbe, // The primary color of your brand
    accent: #ff5252, // The secondary color of your brand
    theme: dark // This can be dark or light
    ));

    @import "~vue-material/dist/theme/all"; // Apply the theme
    .md-app {
        min-height: 350px;
        height: 100%;
        width: 100%;
        border: 1px solid rgba(#000, .12);
    }

    // Demo purposes only
    .md-drawer {
        width: 230px;
        max-width: calc(100vw - 125px);
    }
    .md-app-content {
        display: flex !important;
        justify-content: space-around !important;
        padding: 0px;
    }
    .md-toolbar.md-theme-default.md-primary[data-v-7ac96b32] {
        background-color:#ff5252;
    }
    .md-custom-icon {
        transition: color .4s cubic-bezier(.4,0,.2,1);
        direction: ltr;
        /* font-family: Material Icons; */
        font-feature-settings: "liga";
        font-style: normal;
        letter-spacing: normal;
        line-height: 1;
        text-rendering: optimizeLegibility;
        text-transform: none;
        word-wrap: normal;
        white-space: nowrap;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 32px;
        font-size: 23px;
    }
    .active {
        background: #ff5252;
    }
    .hidden {
        display: none;        
    }
    .md-list {
        margin: 0;
        padding: 0px 0;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        list-style: none;
    }
    .vgs__container__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
</style>