<template>
    <div class="container" style="width: 65%;top: 9%;position: absolute;left: 19%;" v-if='intro==1'>
        <div class="row justify-content-center">
            <img src="img/d&d.jpg" alt="" v-bind:style="{ width:  '-webkit-fill-available', transition: 'opacity 1.5s', opacity: swdelay}">
        </div>       
    </div>
</template>

<script>
    import { Glide, GlideSlide } from 'vue-glide-js'
    export default {
        components: {
    [Glide.name]: Glide,
    [GlideSlide.name]: GlideSlide
  },
        data: function() {
            return {
                intro: 1,
                swdelay: 1,
            }
        },        
        methods: {
            img_opacity: function () {                
                let me = this;   
                me.swdelay = 0; 
                window.setTimeout(me.swap_screen, 1500);
            },
            swap_screen: function (){
                let me = this; 
                window.eventControl.$emit('select_adventure');
            }
        },
        mounted() {
            let me = this;       
            window.setTimeout( me.img_opacity, 1000);
        }
    }
</script>