<template>
    <div style='height:100%;'>
        <template v-if="menu_app == 0">
            <logo-master-component></logo-master-component>
        </template>
        <template v-if="menu_app == 1">
            <select-adventure-master-component :url = "url" ></select-adventure-master-component>
        </template>
        <template v-if="menu_app == 2">
            <board-master-component :url = "url" :hoverTest = "hoverTest"></board-master-component>
        </template>
    </div> 
</template>

<script>

export default { 
      props: ['urlserver'],
      data(){
          return{
              url        : this.urlserver,
              hoverTest  : [false],
              menu_app   : 0,
          }
      },
      methods: {
       
      },
      created() {
        let me = this;
        window.eventControl.$on('select_adventure', function(){ 
            me.menu_app=1; 
        });
        window.eventControl.$on('select_board', function(){ 
            me.menu_app=2; 
        });
      }
    }
</script>