<template>
        <div style="width: 100%;height: 100%;background: #dee2e6;position: initial;">
            <md-card v-for="(image, i) in images" :key="i" >
                <md-card-media-actions>
                    <md-card-media>
                    <img :id="'map_img'+i" class="image" :src="image" @click="index = i">
                    </md-card-media>

                    <md-card-actions>                        
                        <md-button class="md-icon-button">
                            <i class="fas fa-pen-square" style="font-size: 26px;color: white;cursor: pointer;"></i>
                        </md-button>
                        <md-button class="md-icon-button">
                            <i @click='select_map(i)' :id="'check_img'+i" class="fas fa-check-square" style="font-size: 26px;color: white;cursor: pointer;"></i>
                        </md-button> 
                    </md-card-actions>
                </md-card-media-actions>
            </md-card>
            <vue-gallery-slideshow :images="images" :index="index" @close="index = null"></vue-gallery-slideshow>   
            <md-button @click='save_img()' class="md-dense md-raised md-primary">Save</md-button>
            <md-button class="md-dense md-raised md-primary">Upload</md-button>
        </div>       
</template>

<script>
    import VueMaterial from 'vue-material'
    import 'vue-material/dist/vue-material.min.css'
    import 'vue-material/dist/theme/default.css'
    import VueGallerySlideshow from 'vue-gallery-slideshow';

    Vue.use(VueMaterial)
    export default {
        components: {
            VueGallerySlideshow
        },
        data: function() {
            return{
                images: [
                'https://i.redd.it/zfk0nmwwvit31.jpg',
                'https://i.redd.it/blw5p806dkt31.jpg',
                'https://i.redd.it/zpzsulsuvht31.jpg',
                'https://i.redd.it/eykvjr85xat31.jpg',
                'https://i.redd.it/ma507mmod3t31.jpg',
                'https://i.redd.it/1jj7q56h6ws31.jpg',
                'https://i.redd.it/c7a81ypkaws31.jpg',
                'https://i.redd.it/cwoqrzanl3s31.jpg',
                'https://i.redd.it/3mjw9i071wr31.jpg',
                'https://i.redd.it/r9f162ymekq31.jpg',
                'https://i.redd.it/tscz7lzqkwu31.jpg'
                ],
                index: null,
                index_img: null,
            }
        },
        methods: {
            select_map(i) {
                let me = this;
                for (let index = 0; index < me.images.length; index++) {
                    if(index == i){
                        if(document.getElementById('check_img' + index).style.color == 'white'){
                            document.getElementById('check_img' + index).style.color = "#ff5252";
                            me.index_img = index;
                        }else{
                            document.getElementById("check_img" + index).style.color = "white";
                            me.index_img = null;
                        }
                    }else{
                        document.getElementById("check_img" + index).style.color = "white";
                    }                 
                }
            },
            save_img(){
                let me = this;
                var img = me.images[me.index_img];
                window.eventBusMaster.$emit('switchMap',img);
            }
        }
    }
</script>
<style lang="scss" scoped>
    body {
        font-family: sans-serif;
    }
    .image {
        width: 'auto';
        height: 'auto';
        background-size: cover;
        cursor: pointer;
        margin: 5px;
        border-radius: 3px;
        border: 1px solid lightgray;
        object-fit: contain;
    }
    .vgs__container__img{
        height: 100%;
    }
    .md-image{
        height: 100%;
    }
    .card-expansion {
        height: 480px;
    }
    .md-card {
        width: 320px;
        margin: 4px;
        display: inline-block;
        vertical-align: top;
    }
    .md-card.md-theme-default {
        background-color: #424242;
        color: rgba(0,0,0,0.87);
        color: var(--md-theme-default-text-primary-on-background, rgba(0,0,0,0.87));
    }
    .md-card-media-actions {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        height: 24%;
    }
</style>