<template>
        <div class="d-flex justify-content-around align-items-end" style="height: 100%;">
            <img src="http://localhost/board_rol/public/img/x8.jpg" style="position: absolute;height: 100%;width: 100%;">
            <div>
                <div class="card p-2" style="cursor: pointer;width: 12rem;top: -20px;background: rgb(33, 37, 41);" v-on:click="goToBoardAdventure();">
                    <img src="http://localhost/board_rol/public/img/not_fear.jpg" class="card-img-top" />
                </div>
            </div>
            <div>
                <div class="card p-2" style="cursor: pointer;width: 12rem;top: -20px;background: rgb(33, 37, 41);" v-on:click="goToBoardAdventure();">
                    <img src="http://localhost/board_rol/public/img/not_fear.jpg" class="card-img-top" />
                </div>
            </div>
            <div>
                <div class="card p-2" style="cursor: pointer;width: 12rem;top: -20px;background: #212529;" v-on:click="goToBoardAdventure();">
                    <img src="http://localhost/board_rol/public/img/not_fear.jpg" class="card-img-top" />
                </div>
            </div>
        </div>
</template>

<script>
    export default {
        data: function() {
            return {
            }
        },        
        methods: {
            goToBoardAdventure: function () {                
                let me = this;   
                window.eventControl.$emit('select_board');
            },
        },
        mounted() {
            let me = this;       
        }
    }
</script>