<template>
    <div style="width:100%;height:100%;" class="d-flex justify-content-around">
        <img src="http://localhost/board_rol/public/img/map_1.jpg" style="position:absolute;height:100%;">
        <canvas id="silverfox1" style="position:absolute;width:100%;height:100%;"></canvas>   
    </div>
</template>

<script>
    export default {
        props: ['url'],
        data: function() {
            return {
                url_aux: this.url,
                canvas: [],
                ctx: [],
                canvasx: 0,
                canvasy: 0,
                last_mousex: 0,
                last_mousey: 0,
                mousex: 0,
                mousey: 0,
                mousedown: false,
                tooltype: 'draw',
                mist: {"last_xy":[],"now_xy":[]},
                mist_json: '',
                width: 0,
                height: 0,
                calibrate_width: 0,
                calibrate_height: 0,
            }
        },        
        methods: {
            use_tool(tool) {
                let me = this;
                me.tooltype = tool; //update
            },
            board_update() {  
                let me = this;     
                axios.get(me.url+'/getMist',{
                }).then(function (response) {
                    
                    console.log(response.data);
                    me.mist_json = JSON.parse(response.data[0].mist);
                    me.height = response.data[0].height;
                    me.width = response.data[0].width;
                    for (let index = 0; index < me.mist_json.last_xy.length; index++) {
                        me.mousex = parseInt(me.mist_json.now_xy[index].x - me.canvasx);
                        me.mousey = parseInt(me.mist_json.now_xy[index].y - me.canvasy);
                        me.ctx.beginPath();
                        if(me.tooltype==me.mist_json.now_xy[index].action) {
                            me.ctx.globalCompositeOperation = 'source-over';
                            me.ctx.strokeStyle = "rgba(255, 255, 255, 0.5)";
                            me.ctx.lineWidth = 50;
                        } else {
                            me.ctx.globalCompositeOperation = 'destination-out';
                            me.ctx.lineWidth = 50;
                        }
                        me.ctx.moveTo(me.calibrate(me.mist_json.last_xy[index].x,true),me.calibrate(me.mist_json.last_xy[index].y,false));
                        me.ctx.lineTo(me.calibrate(me.mousex,true),me.calibrate(me.mousey,false));
                        me.ctx.lineJoin = me.ctx.lineCap = 'round';
                        me.ctx.stroke(); 
                    }                    
                });  
            },
            calibrate(a,tipo){
                let me = this;
                //if(tipo){
                    //return((window.innerWidth * a) / me.width);
                //}else{
                    //return((window.innerHeight * a) / me.height);
                //}
                return a;
            }
        },
        mounted() {
            let me = this;   
            //Canvas
            me.canvas = document.getElementById('silverfox1');
            me.ctx = me.canvas.getContext('2d');
            me.ctx.canvas.width  = window.innerWidth;
            me.ctx.canvas.height = window.innerHeight;
            //Variables
            me.canvasx = me.canvas.offsetLeft;
            me.canvasy = me.canvas.offsetTop;
            me.last_mousex = 0;
            me.last_mousey = 0;
            me.mousex = 0;
            me.mousey = 0;
            me.mousedown = false;
            me.tooltype = 'draw';  

            me.ctx.globalCompositeOperation = 'source-over';
            me.ctx.strokeStyle = "#6c757d";
            me.ctx.lineWidth = 100000;
            me.ctx.moveTo(me.last_mousex,me.last_mousey);
            me.ctx.lineTo(me.mousex,me.mousey);
            me.ctx.lineJoin = me.ctx.lineCap = 'round';
            me.ctx.stroke();
            window.Echo.channel('mist').listen('MistUpdate', (data)=>{
                me.board_update();
            });
        },
        created(){

        }
    }
</script>