<template>
    <div style='height:100%;'>
        <template v-if="menu_app == 0">
            <logo-player-component></logo-player-component>
        </template>
        <template v-if="menu_app == 1">
            <board-player-component :url = "url" ></board-player-component>
        </template>
    </div> 
</template>

<script>

export default { 
      props: ['urlserver'],
      data(){
          return{
              url        : this.urlserver,
              menu_app   : 0,
          }
      },
      methods: {
       
      },
      created() {
        let me = this;
        window.eventPlayer.$on('select_board', function(){ 
            me.menu_app=1; 
        });
      }
    }
</script>